.container1 {
	border: 1px solid #000;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	margin-top: 3%;
}

.flex-box-container1 {
	border: 1px solid #000;
	display: flex;
	padding: 10px;
	flex-direction: row;
	justify-content: space-around;
}

.flex-box-container1 div {
	padding: 10px;
	display: flex;
	border: 1px solid #000;
	align-items: center;
}